<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
<head>
{{- partial "head.html" . -}}
{{- partial "custom-head.html" . -}}
{{- partial "compiled-css.html" . -}}
</head>
<body>
<div class="container">
{{- partial "notification.html" . -}}
{{- partial "header.html" . -}}
{{- partial "main-menu.html" . -}}
<div class="content-container">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
          <td style="width: 20%; background-color: #f7f7f7; vertical-align: top;">
            <!-- Left Sidebar Content -->
            {{- partial "sidebar.html" . -}}
          </td>
          <td style="width: 60%; background-color: #f7f7f7; vertical-align: top;">
            <!-- Main Content -->
            <main>
                {{- block "main" . -}}
                {{- end -}}
                <footer>
                {{- partial "main-footer.html" . -}}
                {{- partial "powered.html" . -}}
                </footer>
                </main>
          </td>
          <td style="width: 20%; background-color: #f7f7f7; vertical-align: top;">
            <!-- Right Sidebar Content -->
            {{- if .Params.include_toc -}}
            {{ partial "toc.html" . }}
            {{- end -}}
          </td>
        </tr>
      </table>
</div>
{{- partial "footer.html" . -}}
{{- partial "compiled-js.html" . -}}
</div>
</body>
</html>
