<header>
    <table style="border-collapse:collapse; border-width: 0">
        <tr>
            <td style="width: 80%">
                <title>{{ .Site.Title }}</title>
                {{ with .Site.Params.version }}
                <span class="version">Version {{ . }}</span>
                {{end}}
            </td>
            <td style="width: 20%">
                {{- with .Site.Params.github_repository -}}
                <a href="{{ . }}" class="github"><i class="fab fa-github"></i></a>
                {{- end -}}
            </td>
    
        </tr>
    </table>
    
    
    {{ with .Site.Params.description }}
    <p class="description">{{ . }}</p>
    {{end}}
    </header>
    