.pagination {
  @include grid($flex-wrap: nowrap, $justify-content: space-between);
  margin-top: 2rem;
  font-weight: bold;
}
.nav-prev {}
.nav-next {
  margin-left: auto;
}

@media screen and (max-width: #{map-get($default-breakpoints, xs )} ) {
  .pagination {
    @include grid($flex-flow: column nowrap, $justify-content: null, $align-items: center);
  }
  .nav-next {
    margin-left: 0;
  }
}

.panel {
  background-color: $panel-background-color;
  border-left: 4px solid $panel-line-color;
  margin-bottom: $default-margin;
  padding: 1rem;
  display: flex;
  flex-direction: row;

  .panel-status-icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
}
.panel-notice {
  color: $notice-font-color;
  border-left-color: $notice-color-darker;
  background-color: $notice-background-color;

  .panel-status-icon {
    color: $notice-color-darker;
  }
}
.panel-success {
  color: $success-font-color;
  border-left-color: $success-color-darker;
  background-color: $success-background-color;

  .panel-status-icon {
    color: $success-color-darker;
  }
}
.panel-caution {
  color: $caution-font-color;
  border-left-color: $caution-color-darker;
  background-color: $caution-background-color;

  .panel-status-icon {
    color: $caution-color-darker;
  }
}
.panel-warning {
  color: $warning-font-color;
  border-left-color: $warning-color-darker;
  background-color: $warning-background-color;

  .panel-status-icon {
    color: $warning-color-darker;
  }
}
.panel-danger {
  color: $danger-font-color;
  border-left-color: $danger-color-darker;
  background-color: $danger-background-color;

  .panel-status-icon {
    color: $danger-color-darker;
  }
}

.panel-header {
  h3 {
    margin: 0;
    margin-bottom: 0.6rem;
  }
}
.panel-body {}

.button {
  display: inline-block;
  font-size: 120%;
  padding: .8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  margin-bottom: 1.2rem;
  background-color: $button-background-color;
  color: $default-font-color;

  &:hover {
    color: $default-font-color;
    text-decoration: none;
  }
}

.button-primary {
  color: $notice-font-color;
  background-color: $notice-color;
  &:hover {
    color: $notice-font-color;
    background-color: $notice-color-darker;
  }
}
.button-success {
  color: $success-font-color;
  background-color: $success-color;
  &:hover {
    color: $success-font-color;
    background-color: $success-color-darker;
  }
}
.button-caution {
  color: $caution-font-color;
  background-color: $caution-color;
  &:hover {
    color: $caution-font-color;
    background-color: $caution-color-darker;
  }
}
.button-warning {
  color: $warning-font-color;
  background-color: $warning-color;
  &:hover {
    color: $warning-font-color;
    background-color: $warning-color-darker;
  }
}
.button-danger {
  color: $danger-font-color;
  background-color: $danger-color;
  &:hover {
    color: $danger-font-color;
    background-color: $danger-color-darker;
  }
}

.notification {
  padding: .2rem 1.2rem;
  text-align: center;
  background-color: $panel-background-color;
}

.backtothetop {
  display: none;
  font-size: 200%;
}
.fa-layers .fa-circle {
  color: #fff;
}

#TableOfContents > ul {
  padding: 0;
  margin: 0;
}
#TableOfContents > ul > li {
  list-style: none;
}
#TableOfContents > ul > li > ul > li {
  list-style: upper-roman;
}
#TableOfContents > ul > li > ul > li > ul > li {
  list-style: upper-alpha;
}
#TableOfContents > ul > li > ul > li > ul > li > ul > li {
  list-style: numeric;
}
#TableOfContents > ul > li > ul > li > ul > li > ul > li > ul > li {
  list-style: lower-alpha;
}
#TableOfContents > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
  list-style: lower-roman;
}
